header {
background-color: #183C63;
color: #FFFFFF;
text-align: center ;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

main{
background-color: #FFFFFF;
color: #183C63;
max-width: 800px;
margin: 0 auto;
padding: 16px;
display: flex;
}

img{
display: block;
width: 150px;
margin: 0 auto;
border: 4px solid #000;
height: 150px;

}
